задание 1.1.

In [4]:
import matplotlib.pyplot as plt 
import pandas as pd 
df = pd.read_csv('ekb_weather.csv') 
df=(df.loc[0:10])
df

                date  temp  pressure  humidity
0   31.12.2019 23:00  -9.2     743.1        76
1   31.12.2019 20:00  -8.8     744.1        75
2   31.12.2019 17:00  -7.9     744.5        82
3   31.12.2019 14:00 -11.5     745.9        85
4   31.12.2019 11:00 -12.8     749.0        84
5   31.12.2019 08:00 -15.3     752.8        83
6   31.12.2019 05:00 -18.4     757.6        80
7   31.12.2019 02:00 -20.9     761.5        79
8   30.12.2019 23:00 -21.4     764.2        78
9   30.12.2019 20:00 -20.9     766.8        79
10  30.12.2019 17:00 -18.3     768.4        79

задание 1.2.

In [5]:
import matplotlib.pyplot as plt 
import pandas as pd 
df = pd.read_csv('ekb_weather.csv') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2919 non-null   object
 1   temp      2919 non-null   float64
 2   pressure  2918 non-null   float64
 3   humidity  2919 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 91.3+ KB

задание1.3.

In [6]:
df['month'] = pd.DatetimeIndex(df['date']).month
df['month'].value_counts()
df

                  date  temp  pressure  humidity  month
0     31.12.2019 23:00  -9.2     743.1        76     12
1     31.12.2019 20:00  -8.8     744.1        75     12
2     31.12.2019 17:00  -7.9     744.5        82     12
3     31.12.2019 14:00 -11.5     745.9        85     12
4     31.12.2019 11:00 -12.8     749.0        84     12
...                ...   ...       ...       ...    ...
2914  01.01.2019 14:00 -10.6     770.8        71      1
2915  01.01.2019 11:00 -11.9     771.3        75      1
2916  01.01.2019 08:00 -12.8     770.9        75      1
2917  01.01.2019 05:00 -12.8     770.9        75      1
2918  01.01.2019 02:00 -11.8     770.6        75      1

[2919 rows x 5 columns]

задание 1.4.